<div class="content">
      <div class="row">
            <div class="col col-sm-8 offset-sm-2">
                  <div class="row">
                        <img src="../../assets/journal.jpg" alt="journal" class="img-fluid">
                  </div>
                  <div class="row">
                        <p>RECEPISSE DE DECLARATION D’ASSOCIATION
                              <br>Laisser un commentaire / Uncategorized / Par oditogotest / septembre 10, 2021
                        </p>
                  </div>
            </div>
      </div>
      <p></p>
      <div class="divider"></div>
      <div class="row">
            <div class="col col-sm-8 offset-sm-2">
                  <div class="row">
                        <img src="../../assets/WhatsApp-Image-2021-07-06-at-11.02.17-AM-1-1024x683.jpeg" alt="journal"
                              class="img-fluid">
                  </div>
                  <div class="row">
                        <p>RECEPISSE DE DECLARATION D’ASSOCIATION
                              <br>Laisser un commentaire / Uncategorized / Par oditogotest / septembre 10, 2021
                        </p>
                  </div>
            </div>

      </div>
      <div class="divider"></div>
</div>