<div class="galerie">
      <div class="col-md-10 offset-md-1">
            <div class="row">
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-1.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-12-1024x683.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-13-1024x683.jpg" alt="responsive" class="img-fluid">
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-22-600x400.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-20-1024x683.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-2-1024x768.jpg" alt="responsive" class="img-fluid">
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-34-1024x768.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-38.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-36.jpg" alt="responsive" class="img-fluid">
                  </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-4">
                        <img src="../../assets/image_6483441-34-1024x768.jpg" alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/WhatsApp-Image-2021-07-06-at-11.02.17-AM-1-1024x683.jpeg"
                              alt="responsive" class="img-fluid">
                  </div>
                  <div class="col-md-4">
                        <img src="../../assets/WhatsApp-Image-2021-07-06-at-11.02.20-AM-1024x683 (1).jpeg"
                              alt="responsive" class="img-fluid">
                  </div>
            </div>
            <br>
      </div>
</div>